@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,500,600,700,800&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #707070;
  line-height: 1;
  font-family: "Open Sans";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background-color: #FAFAFA;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5625rem;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.3125rem;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__item:not(:last-child) {
  margin-bottom: 0.3125em;
}

.options__input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

.options__input:checked + .options__label:before {
  background-color: #0081A7;
}

.options__input:checked + .options__label:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  background-color: #fff;
}

.options__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  gap: 10px;
}

.options__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 20px;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  border-radius: 50%;
  background-color: #D9D9D9;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.options__label:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
}

.select {
  min-width: 0;
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  border: 0.5px solid #D1D1D1;
  background-color: #EEEEEE;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  font-family: "Inter";
  font-size: 0.875rem;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  padding: 0 0.625rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14px;
          flex: 0 0 14px;
  background: url("../img/aside/search-fillter.svg") center/contain no-repeat;
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.select__input {
  width: 100%;
  background-color: transparent;
  outline: none;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: calc(100% - 0.0625rem);
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 0.5px solid #D1D1D1;
  border-top: 0;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 10px;
  color: inherit;
  font-family: "Inter";
  font-size: 0.875rem;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__option:last-child {
  border-radius: 0 0 4px 4px;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.spollers__summary {
  cursor: pointer;
  border-radius: 0.3125rem;
  border: 0.5px solid #D1D1D1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9375rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.spollers__summary svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.5625rem;
          flex: 0 0 0.5625rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

[open] .spollers__summary {
  border-bottom: none;
  border-radius: 0.3125rem 0.3125rem 0 0;
}

[open] .spollers__summary svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.spollers__summary::marker,
.spollers__summary::-webkit-details-marker {
  display: none;
}

.spollers__summary:focus {
  outline: none;
  border: 0.5px solid #0081a7;
}

[open] .spollers__summary:focus {
  border-bottom: none;
}

.spollers__summary:focus + .spollers__content {
  border: 0.5px solid #0081a7;
  border-top: none;
}

.spollers__title {
  font-family: "Inter";
  font-weight: 600;
  color: #131313;
}

.spollers__content {
  padding: 0.9375rem;
  padding-top: 0rem;
  border-radius: 0 0 0.375rem 0.375rem;
  border: 0.5px solid #D1D1D1;
  border-top: none;
  background-color: #fff;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  padding-top: 10.125rem;
  padding-bottom: 1.5625rem;
}

.page__container {
  display: -ms-grid;
  display: grid;
  gap: 1.5625rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.beta-test {
  background: -o-repeating-linear-gradient(135deg, #F3F3F3, #F3F3F3 20px, #D8E0FF 20px, #D8E0FF 40px);
  background: repeating-linear-gradient(-45deg, #F3F3F3, #F3F3F3 20px, #D8E0FF 20px, #D8E0FF 40px);
  padding: 0.625rem;
}

.beta-test__text {
  font-size: 0.625rem;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  -webkit-box-shadow: 0 0 5px #cacaca;
          box-shadow: 0 0 5px #cacaca;
  background-color: #fff;
}

.header._header-scroll {
  position: fixed;
  top: -100%;
  -webkit-box-shadow: 0 0 5px #cacaca;
          box-shadow: 0 0 5px #cacaca;
}

.header._header-show {
  -webkit-transition: top 0.4s ease 0s;
  -o-transition: top 0.4s ease 0s;
  transition: top 0.4s ease 0s;
  top: 0;
}

.header__container {
  min-height: 3.75rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__image-ibg {
  position: relative;
  z-index: 2;
}

.header__image-ibg svg path:not(path:nth-child(11)) {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__list {
  text-align: center;
}

.menu__link {
  line-height: 230%;
  color: #000;
  padding: 0.625rem 0.3125rem;
  border-radius: 0.1875rem;
  position: relative;
}

.menu__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  bottom: 0;
  left: 0;
  background-color: #0081a7;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.menu__link_darkblue {
  padding: 0.625rem 0.8125rem;
  color: #fff;
  background-color: #04134e;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.menu__link_darkblue::before {
  display: none;
}

.icon-menu {
  display: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.marketplace {
  display: -ms-grid;
  display: grid;
  gap: 1.5625rem;
}

.marketplace__button {
  margin-top: 2.0625rem;
  -ms-grid-column-align: center;
      justify-self: center;
  border: 1px solid #04134E;
  -webkit-filter: drop-shadow(0px 2px 4px rgba(58, 87, 232, 0.3));
          filter: drop-shadow(0px 2px 4px rgba(58, 87, 232, 0.3));
  border-radius: 0.25rem;
  font-family: "Inter";
  line-height: 175%;
  color: #04134e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  padding: 0.5rem 3.9375rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.marketplace__button svg path {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.search-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.search-panel__search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.search-panel__input {
  padding: 1.25rem;
  padding-right: 5rem;
  width: 100%;
  border-radius: 4px;
  background-color: #E9ECEF;
}

.search-panel__input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 2px #0081a7;
          box-shadow: 0 0 2px #0081a7;
}

.search-panel__button {
  position: absolute;
  width: 3.75rem;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #0081a7;
  border-radius: 0px 4px 4px 0px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  outline: none;
}

.search-panel__button:focus {
  -webkit-box-shadow: 0 0 4px #0081a7;
          box-shadow: 0 0 4px #0081a7;
}

.search-panel__button svg {
  width: 1.25rem;
  height: 1.25rem;
  pointer-events: none;
}

.search-panel__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-panel__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 3.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  padding: 0.9375rem 1.25rem;
  font-weight: 600;
  border-radius: 0.25rem;
  background-color: #00afb9;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.search-panel__action_fillter {
  background-color: #0081a7;
}

.search-panel__number {
  position: absolute;
  width: 1.5625rem;
  height: 1.5625rem;
  top: 0;
  right: 0;
  -webkit-transform: translate(12.5px, -12.5px);
      -ms-transform: translate(12.5px, -12.5px);
          transform: translate(12.5px, -12.5px);
  color: #fff;
  font-weight: 700;
  line-height: 120%;
  background-color: #C62828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 2px #0081a7;
          box-shadow: 0 0 2px #0081a7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  border-radius: 50%;
}

.search-panel__text {
  display: none;
  color: #fff;
}

.tags-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.625rem;
}

.tags-panel__tag {
  background-color: #8A92A6;
  border-radius: 0.125rem;
  padding: 0.4375rem;
  padding-right: 1.375rem;
  color: #fff;
  font-size: 0.875rem;
  font-family: "Inter";
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tags-panel__tag::after,
.tags-panel__tag::before {
  content: "";
  position: absolute;
  width: 0.625rem;
  height: 0.125rem;
  top: 50%;
  right: 0.4375rem;
  background-color: #fff;
}

.tags-panel__tag::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.tags-panel__tag::before {
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.cards-panel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5625rem;
}

.cards-panel__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100vw - 80px);
          flex: 0 0 calc(100vw - 80px);
}

.card {
  padding: 1.5625rem;
  background-color: #fff;
  border: 0.5px solid #D1D1D1;
  -webkit-box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
          box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
}

.card__image-ibg {
  padding-bottom: 35.7142857143%;
  width: 100%;
}

.card__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
}

.card__item {
  font-family: "Inter";
  line-height: 138%;
  color: #131313;
}

.card__title {
  font-weight: 600;
}

.card__actions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4.375rem;
  grid-template-columns: 1fr 4.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.card__button {
  border-radius: 0.25rem;
  background-color: #04134e;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
  line-height: 175%;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.card__button_color {
  background-color: #0081a7;
}

.aside-fillter {
  background-color: #fff;
  padding: 1.5625rem;
  border: 0.5px solid #D1D1D1;
  -webkit-box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
          box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
  border-radius: 0.5rem;
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
}

.aside-fillter__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside-fillter__title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 89%;
  color: #131313;
}

.aside-fillter__close {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
}

.aside-fillter__close::before,
.aside-fillter__close::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  top: 50%;
  left: 0;
  background-color: #000;
}

.aside-fillter__close::before {
  -webkit-transform: translate(0px, -50%) rotate(-45deg);
      -ms-transform: translate(0px, -50%) rotate(-45deg);
          transform: translate(0px, -50%) rotate(-45deg);
}

.aside-fillter__close::after {
  -webkit-transform: translate(0px, -50%) rotate(45deg);
      -ms-transform: translate(0px, -50%) rotate(45deg);
          transform: translate(0px, -50%) rotate(45deg);
}

.aside-fillter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  width: 100%;
  background-color: #04134e;
  -webkit-box-shadow: 0px 2px 4px rgba(58, 87, 232, 0.3);
          box-shadow: 0px 2px 4px rgba(58, 87, 232, 0.3);
  border-radius: 0.25rem;
  color: #fff;
  line-height: 175%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.fillters-aside {
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
}

@media (min-width: 47.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.625rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
  }
}

@media (min-width: 61.99875em) {
  .page__container {
    -ms-grid-columns: 22.8125rem 1fr;
    grid-template-columns: 22.8125rem 1fr;
  }

  .search-panel__action_fillter {
    display: none;
  }

  .aside-fillter__close {
    display: none;
  }
}

@media (min-width: 81.25em) {
  .header__image-ibg {
    width: 18.75rem;
  }

  .header__image-ibg {
    height: 1.6875rem;
  }
}

@media (min-width: 62em) {
  .page {
    padding-top: 10.125rem;
  }
}

@media (max-width: 30em) {
  .page {
    padding-top: 7.5rem;
  }
}

@media (max-width: 87.5em) {
  .cards-panel {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 78.125em) {
  .cards-panel {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 61.99875em) {
  .search-panel__text_fillter {
    display: block;
  }
}

@media (max-width: 53.75em) {
  .header__image-ibg {
    width: 13.125rem;
  }

  .header__image-ibg {
    height: 1.1875rem;
  }
}

@media (max-width: 47.99875em) {
  .menu-open .header__image-ibg svg path:not(path:nth-child(11)) {
    fill: #fff;
  }

  .menu__body {
    padding-top: 6.25rem;
    padding-bottom: 2.1875rem;
    overflow: auto;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #04134e;
    opacity: 0.9;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body::before {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    content: "";
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 5rem;
    top: 0;
    left: -105%;
    background-color: #04134e;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__link {
    font-size: 1.5rem;
    color: #fff;
  }

  .menu__link_darkblue {
    background-color: #0081a7;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 2.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .menu-open .icon-menu span,
  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .search-panel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .search-panel__text_comparsion {
    display: block;
  }
}

@media (max-width: 37.5em) {
  .cards-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    padding: 0.9375rem;
    padding-bottom: 1.6875rem;
  }

  .cards-panel::-webkit-scrollbar {
    width: 12px;
  }

  .cards-panel::-webkit-scrollbar-track {
    background-color: #E9ECEF;
    border-radius: 0.625rem;
  }

  .cards-panel::-webkit-scrollbar-thumb {
    background-color: #04134E;
    border-radius: 0.625rem;
  }
}

@media (max-width: 29.99875em) {
  .marketplace {
    gap: 0.9375rem;
  }

  .search-panel {
    gap: 0.9375rem;
  }

  .search-panel__actions {
    gap: 0.9375rem;
  }
}

@media (max-width: 24.5em) {
  .search-panel__actions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .search-panel__action {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 23.125em) {
  .marketplace__button {
    padding: 0.5rem;
    width: 100%;
  }
}

@media (min-width: 30em) and (max-width: 62em) {
@supports (padding-top: clamp( 7.5rem , 5.0390625rem  +  8.203125vw , 10.125rem )) {
    .page {
      padding-top: clamp( 7.5rem , 5.0390625rem  +  8.203125vw , 10.125rem );
    }
}

@supports not (padding-top: clamp( 7.5rem , 5.0390625rem  +  8.203125vw , 10.125rem )) {
    .page {
      padding-top: calc(7.5rem + 2.625 * (100vw - 30rem) / 32);
    }
}
}

@media (min-width: 53.75em) and (max-width: 81.25em) {
@supports (width: clamp( 13.125rem , 2.1306818182rem  +  20.4545454545vw , 18.75rem )) {
    .header__image-ibg {
      width: clamp( 13.125rem , 2.1306818182rem  +  20.4545454545vw , 18.75rem );
    }
}

@supports not (width: clamp( 13.125rem , 2.1306818182rem  +  20.4545454545vw , 18.75rem )) {
    .header__image-ibg {
      width: calc(13.125rem + 5.625 * (100vw - 53.75rem) / 27.5);
    }
}

@supports (height: clamp( 1.1875rem , 0.2102272727rem  +  1.8181818182vw , 1.6875rem )) {
    .header__image-ibg {
      height: clamp( 1.1875rem , 0.2102272727rem  +  1.8181818182vw , 1.6875rem );
    }
}

@supports not (height: clamp( 1.1875rem , 0.2102272727rem  +  1.8181818182vw , 1.6875rem )) {
    .header__image-ibg {
      height: calc(1.1875rem + 0.5 * (100vw - 53.75rem) / 27.5);
    }
}
}

@media (any-hover: hover) {
  .select__option:hover {
    background-color: #0081a7;
    color: #fff;
  }

  .menu__link:hover::before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .menu__link_darkblue:hover {
    background-color: #0081a7;
  }

  .marketplace__button:hover {
    background-color: #04134e;
    color: #fff;
  }

  .marketplace__button:hover svg path {
    fill: #fff;
  }

  .search-panel__button:hover {
    background-color: #04134e;
  }

  .search-panel__action:hover {
    background-color: #04134e;
  }

  .search-panel__action_fillter:hover {
    background-color: #00afb9;
  }

  .tags-panel__tag:hover {
    background-color: #97a0b6;
  }

  .card__button:hover {
    background-color: #0081a7;
  }

  .card__button_color:hover {
    background-color: #04134e;
  }

  .aside-fillter__button:hover {
    background-color: #0081a7;
  }
}